<a href="https://colab.research.google.com/github/SnehalVT/Assignments/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Username and Password**

In [ ]:
username='Snehal'
password='12345'

userpass=input("Enter the password: ")

if userpass==password:
  print("Welcome ",username)
  print("Have a great day!")
else:
  print("Incorrect password")

Enter the password: 12345
Welcome  Snehal
Have a great day!

**for loop**

In [ ]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

**for loop with defined range**

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

**for loop with defined range and step value**

In [ ]:
for i in range(0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

**Even numbers from a range**

In [ ]:
print("Even numbers in the given range:")
for i in range(0,31):
  if i%2==0:
    print(i)

Even numbers in the given range:
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

**Students list, index and slicing**

In [ ]:
students=["Sam","Tom","Bob","Tim"]
#students[3]
students[0:3]
#students[-4]

['Sam', 'Tom', 'Bob']

In [ ]:
for i in students:
  #print(i)
  print("Welcome",i)

Welcome Sam
Welcome Tom
Welcome Bob
Welcome Tim

In [ ]:
for i in students:
  print (i)
  if i=='Bob':
    break

Sam
Tom
Bob

**Dictionary**

In [ ]:
dict={"Tom":90,"Bob":91,"Sam":33,"Tim":50}

dict["Tom"]

90

**Day 3 Assignment**

In [ ]:
# Using if and else if for grading based on the user input

mark=int(input("Enter the mark: "))

if mark>=90:
  print("Grade: A")
elif mark>=80:
  print("Grade: B")
elif mark>=70:
  print("Grade: C")
elif mark>=60:
  print("Grade: D")
elif mark>=50:
  print("Grade: E")
else:
  print("FAIL")

Enter the mark: 49
FAIL

In [ ]:
# Extend the username password block to support OTP verification

username='Snehal'
password='12345'
otp="2020"

userName=input("Enter username: ")
userpass=input("Enter the password: ")
OTP=input("Enter OTP: ")

if username==userName:
  if userpass==password:
    if otp==OTP:
      print("Welcome ",username)
      print("Have a great day!")
    else:
      print("Incorrect OTP")
  else:
    print("Incorrect password")
else:
  print("Username does not exist...")

Enter username: Snehal
Enter the password: 12345
Enter OTP: 2000
Incorrect OTP

In [ ]:
# in a list of marks - print only failed marks - below 60 (Hint : use for to iterate)

dict={"Tom":90,"Bob":91,"Sam":33,"Tim":50}
for name,mark in dict.items():
  if mark<60:
    print(name,'failed.')

Sam failed.
Tim failed.